.logged-in-modal {
    background-color: #fff;
    z-index: 2;
    width: 570px;
    border-radius: 8px;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 20px;


}

.details-modal {
    left: 50%;
    top: 50%;
}

.home-modal {
    position: absolute;
    left: 50%;
    top: 210%;
}

.log-in-modal-header {
    display: flex;
    flex: 0 0 auto;
    min-height: 48px;
    border-bottom: 1px solid rgb(235, 235, 235);
    color: rgb(34, 34, 34);
    font-size: 16px;
    line-height: 20px;
    font-weight: 800;
    text-align: center;
    border-bottom: 1px solid rgb(190, 186, 186);

    :last-child {
        padding-left: 185px;
    }
}

.logged-in-user {
    font-size: 22px;
    line-height: 26px;
    font-weight: 600;
    padding-top: 12px;

    button {
        margin-top: 10px;
    }
}

.log-in-signup {

    font-size: 22px;
    line-height: 26px;
    font-weight: 600;
}

select {
    width: 100%;
    height: 53px;
    background-color: #fff;
    font-size: 16px;
    color: rgb(34, 34, 34);
    font-family: "Airbnb-book";
}

option {
    font-size: 16px;
    color: rgb(34, 34, 34);
    font-family: "Airbnb-book";
}

input {
    font-family: "Airbnb-book";
    width: 100%;
    height: 53px;
    font-size: 16px;
    color: rgb(34, 34, 34);
    padding-left: 8px;
}

.input-name {

    .input-password {
        border-top: none;
        border-bottom: none;
        border-color: rgb(34, 34, 34);
        border-width: 0.5px;
    }

    .input-user {}

    form {
        margin-bottom: 25px;
    }
}

.btn-hover-login {
    width: 100%;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 45px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 8px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover-login:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover-login:focus {
    outline: none;
}

.btn-hover-login.color-10 {
    background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a, #FBB03B);
}

.modal-bg {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
}

.exit-modal {
    cursor: pointer;
}