.search-container {
    border-radius: 5em;
    height: 48px;
    text-align: center;
    background-color: $clr3;
    border: $clr9 0.1em solid;
    display: flex;
    justify-content: center;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
    //margin-top: 10px;
    //margin-bottom: 10px;
    cursor: pointer;
    width: 350px;

    &.large-container {
        width: 848px;
        height: 64px;
        background-color: $clr8;
        box-shadow: none;
        justify-self: center;
    }

    &.small-container {
        display: flex;
        width: 300px;
        height: 48px;
        align-items: center;
        font-size: 15px;
        line-height: 18px;
        //font-weight: 1600;
        text-overflow: ellipsis;
        padding-left: 10px;
        justify-content: space-between;
        padding-left: 30px;
        padding-right: 10px;
        font-family: 'Airbnb-medium';//"lucida grande";
    }

    .txtc {}

}