@font-face {
    font-family: 'Airbnb-bold';
    src: url(@/assets/fonts/Airbnb_Cereal-Bold.ttf);
}
@font-face {
    font-family: 'Airbnb-book';
    src: url(@/assets/fonts/Airbnb_Cereal-Book.ttf);
}
@font-face {
    font-family: 'Airbnb-medium';
    src: url(@/assets/fonts/Airbnb_Cereal-Medium.ttf);
}
@font-face {
    font-family: 'montreal';
    src: url(@/assets/fonts/montreal-serial-extrabold-regular.ttf);
}